<div id="about">
  <p><a href="/">Github Client</a> is a tool to manage your repositories conveniently, It provides a simple interface to show the descriptions of your public repostiories and filter based on a given last push date. </p>
  <p>Github Client is built with <a href="http://www.sinatrarb.com/intro.html" target="_blank">Sinatra</a> and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. It's hosted on <a href="#" target="_blank">Github</a>, you can folk it.</p>
</div>
